* {
    margin: 0px;
    padding: 0px;
    direction: rtl;
    font-family: Vazir;
}
#divcenter{
    width: 100%;
}
#h1 {
    text-align: center;
    margin-top: 42px;
}

p {
    text-align: center;
    font-size: 20px;
}

#div {
    
    margin-right: 150px;
    margin-top: 30px;
width: 60%;
}

.lable {
    padding: 240px;
}

.input {
    margin-right: 0px;

}

#amir {
    text-align: right;
    margin-right: 150px;
    margin-top: 30px;
}

#font {
    background-color: grey;
}

#lablenam {
    padding: 0px;
   
}

#span {
    background-color: grey;
    padding: 8px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.input1 {
    padding-left: 338px;
}

input {
    padding: 8px;
    padding-left: 96px;



}

.email {
    padding-left: 365px;
    text-align: right;
    margin-top: 5px;
}

label {
    margin-top: 5px;
}
#conteri{
    padding: 8px;
    padding-left: 120px;
direction: rtl;

margin-right: 10px;
}
#ostan{
    padding: 8px;
    padding-left: 86px;
direction: rtl;

}
#shahr{
    width: 115px;
    margin-right: 25px;
    padding-left: 0px ;
    margin: 0px;
    direction: rtl;
}
#omid{
    height: 50px;
    width: 550px;
    border:1px solid  rgba(187, 174, 174,.5);
    border-right: none;
    border-left: none;
    margin-right: 0px;
    margin-top: 13px;
    margin-bottom: 20px;
    padding-top: 15px;
    text-align: right;
}
#sefaresh{
    /* padding: 200px; */
  float: left;
    margin-right: 10px;
    height: 15px;
    width: 20px;
}
#hamid{
    margin: 4px;
}
.mmd{
    float: left;
}
#beheshti{
    height: 50px;
    width: 550px;
}
.om{
    width: 115px;
    margin-right: 25px;
    padding-left: 0px ;
    margin: 0px;
    direction: rtl;
    margin-left: 20px;
}
.lable45{
    padding: 68px;
}
#blue{
   padding: 6px;
    background-color: blue;
  color: white;
  font-size: 20px;
 
    width: 510px;
    text-align: center;
    border-radius:5px; 
    margin-top: 30px;
}
#mmd1{
padding: 0px;
color: white;
text-decoration: none;
padding: 5px;
}
#span3{
    margin: 950px;

}

#div2{
    width: 40%;
    float: left;
    margin-right:20px; 
    

}
.border{
    border: 1px solid #dddddd;
    height: 50px;
    margin-left: 160px;
    margin-right: 60px;
    padding: 8px;
}
#sabd{
    margin-left: 160px;
    margin-right: 60px;
    margin-bottom: 15px;
    font-size: 25px;
    color:#6C7985;
}

.h1111{
font-size: 22px;
}
.h2222{
    margin-top: 5px;
    font-size: 16px;
    font-weight: normal;
    color:#6C7985;
}
.dalton66{
    float: left;
    color:#6C7985;
}
.border1{
    border: 1px solid #dddddd;
    height: 30px;
    padding: 5px;
    margin-left: 160px;
    margin-right: 60px;
}
.h11111{
    color:#6C7985;
    font-size: 17px;
}
#kode{
    margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
    margin-left: 160px;
    margin-right: 60px;
    border: 1px solid rgb(210, 210, 210);
  
}
#abas{
    border-left-style: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 160px;
    margin-right: 60px;
    padding-left:40px; 
}
#karim{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  border: 1px double  rgb(146, 151, 155);
    
    cursor: pointer;
    padding: 5px;
    padding-left: 5px;
    color: white;
    font-size: 15px;
}
#footer{
    margin-right: 610px;
    margin-top: 50px;
}
#mmd7{
    color:#6C7985;
    margin-right: 30px;
}
a{
    text-decoration: none;
    margin:5px; 
}
.border:hover span{
    
    color: green;
}
.border:hover{
    background-color: #dddddd;
}
